{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %} 
{% load static %}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
      a:link {
        text-decoration: none;
      }
  
      .order-card {
        color: rgb(255, 255, 255);
      }
  
      .bg-c-blue {
        background: #04868f;
      }
  
      .bg-c-green {
        background:#4C51BF;
      }
  
      .bg-c-yellow {
        background: #F56565;
      }
  
      .bg-c-pink {
        background: #663a30;
      }
  
  
      .card {
        
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
        border: 1px solid black;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
  
      .card .card-block {
        padding: 25px;
      }
  
      .order-card i {
        font-size: 26px;
      }
  
      .f-left {
        float: left;
      }
  
      .f-right {
        float: right;
      }
      header {
      left: 0px;
      right: 0px;
    }
    </style>
  </head>
<br><br>

  <div class="container">
    {% comment %} video section {% endcomment %}
    <div class="row">
      
  
      <div class="col-md-4 col-xl-6">
        <video muted="" controls="" id="vid1">
          <source src="{% static 'assets/videos/v2.mp4' %}" type="video/mp4">
          {% comment %} <source src="{% static 'assets/videos/explore.webm' %}" type="video/webm"> {% endcomment %}
        </video>
      </div>
  
      <div class="col-md-4 col-xl-6">
        <video muted="" controls="" id="vid2">
          <source src="{% static 'assets/videos/v3.mp4' %}" type="video/mp4">
          {% comment %} <source src="{% static 'assets/videos/explore.webm' %}" type="video/webm"> {% endcomment %}
        </video>
    </div>
    <div class="row mt-3">
      
  
      <div class="col-md-4 col-xl-6">
        <video muted="" controls="" id="vid3">
          <source src="{% static 'assets/videos/v4.mp4' %}" type="video/mp4">
          {% comment %} <source src="{% static 'assets/videos/explore.webm' %}" type="video/webm"> {% endcomment %}
        </video>
      </div>
  
      <div class="col-md-4 col-xl-6">
        <video muted="" controls="" id="vid4">
          <source src="{% static 'assets/videos/v5.mp4' %}" type="video/mp4">
          {% comment %} <source src="{% static 'assets/videos/explore.webm' %}" type="video/webm"> {% endcomment %}
        </video>
    </div>
  </div>

  {% comment %} audio and text section {% endcomment %}
  <div class="row mt-4">
      
  
    <div class="col-md-3">
      <audio muted="" controls="" id="audio1">
        <source src="{% static 'assets/videos/a2.mp3' %}" type="audio/mp3">
        {% comment %} <source src="{% static 'assets/videos/explore.webm' %}" type="video/webm"> {% endcomment %}
      </audio>
    </div>
    <div class="col-md-3">
      <audio muted="" controls="" id="audio2">
        <source src="{% static 'assets/videos/a3.mp3' %}" type="audio/mp3">
        {% comment %} <source src="{% static 'assets/videos/explore.webm' %}" type="video/webm"> {% endcomment %}
      </audio>
    </div>
    <div class="col-md-3">
      <audio muted="" controls="" id="audio3">
        <source src="{% static 'assets/videos/a5.mp3' %}" type="audio/mp3">
        {% comment %} <source src="{% static 'assets/videos/explore.webm' %}" type="video/webm"> {% endcomment %}
      </audio>
    </div>
    <div class="col-md-3">
      <audio muted="" controls="" id="audio4">
        <source src="{% static 'assets/videos/a7.mp3' %}" type="audio/mp3">
        {% comment %} <source src="{% static 'assets/videos/explore.webm' %}" type="video/webm"> {% endcomment %}
      </audio>
    </div>
  </div>

  <div class="row mt-4">
      
    <div class="col-md-3">
      <a href="{% static 'assets/videos/d1.docx' %}" class="display-2">Read From Text File</a>
    </div>
    <div class="col-md-3">
      <a href="{% static 'assets/videos/d2.docx' %}" class="display-2">Read From Text File</a>

    </div>
    <div class="col-md-3">
      <a href="{% static 'assets/videos/d3.docx' %}" class="display-2">Read From Text File</a>

    </div>
     <div class="col-md-3">
      <a href="{% static 'assets/videos/d4.docx' %}" class="display-2">Read From Text File</a>
    </div> 
</div>
</div>

    <div class="row mt-5">
      
  
      <div class="col-md-4 col-xl-6">
        <div class="card bg-c-yellow order-card">
          <div class="card-block">
            <h6 class="m-b-20">Total Exams Available</h6>
           <h2 class="text-right"><i class="fas fa-book f-left"></i><span>{{total_course}}</span></h2>
            
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-xl-6">
        <div class="card bg-c-pink order-card">
          <div class="card-block">
            <h6 class="m-b-20">Total Questions</h6>
            <h2 class="text-right"><i class="fas fa-question-circle f-left"></i><span>{{total_question}}</span></h2>
            
          </div>
        </div>
      </div>
    </div>
  </div>


<br><br><br><br><br><br><br><br><br><br>

<script>
  //video
  var vid1 = document.getElementById("vid1");
  vid1.onended = function() {
   window.location.href = "http://127.0.0.1:8000/student/student-exam"; 
};
var vid2 = document.getElementById("vid2");
  vid2.onended = function() {
   window.location.href = "http://127.0.0.1:8000/student/student-exam"; 
};
var vid3 = document.getElementById("vid3");
vid3.onended = function() {
 window.location.href = "http://127.0.0.1:8000/student/student-exam"; 
};
var vid4 = document.getElementById("vid4");
vid4.onended = function() {
 window.location.href = "http://127.0.0.1:8000/student/student-exam"; 
};
//audio
var aud1 = document.getElementById("audio1");
  aud1.onended = function() {
    window.location.href = "http://127.0.0.1:8000/student/student-exam";
  }
var aud2 = document.getElementById("audio2");
aud2.onended = function() {
  window.location.href = "http://127.0.0.1:8000/student/student-exam";
}
var aud3 = document.getElementById("audio3");
  aud3.onended = function() {
    window.location.href = "http://127.0.0.1:8000/student/student-exam";
  }
var aud4 = document.getElementById("audio4");
aud4.onended = function() {
  window.location.href = "http://127.0.0.1:8000/student/student-exam";
}
</script>

{% endblock %}
