{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Designsninja">
<!-- description -->
<meta name="description" content="Torneo is creative agency, corporate, simple and clean template, Based on Bootstrap responsive multipurpose agency and portfolio HTML5 template with 28 unique home page demos">
<!-- keywords -->
<meta name="keywords" content="creative, revolution slider, business, photography, portfolio, one page, bootstrap responsive, start-up, ui/ux, html5, css3, studio, branding, creative design, multipurpose, parallax, personal, masonry, grid, coming soon, carousel, career">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Torneo - Creative Agency, Business Multi-purpose template</title>
<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

<!-- Core Style Sheets -->
<link rel="stylesheet" href="{% static 'assets/css/master.css' %}">
<!-- Responsive Style Sheets -->
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
<!-- Revolution Style Sheets -->
<link rel="stylesheet" type="{% static 'text/css" href="revolution/css/settings.css' %}">
<link rel="stylesheet" type="{% static 'text/css" href="revolution/css/layers.css' %}">
<link rel="stylesheet" type="{% static 'text/css" href="revolution/css/navigation.css' %}">

</head>
<body>


<!--== Wrapper Start ==-->
<div class="wrapper">
  
  <!--== Header Start ==-->
  <nav class="navbar navbar-default brand-center bootsnav on no-full">

    <div class="container">

      <!--== Start Header Navigation ==-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="tr-icon ion-android-menu"></i> </button>
        <a class="navbar-brand" href="#brand"><img src="{% static 'assets/images/logo-black.png' %}" class="logo" alt=""></a>
      </div>
      <!--== End Header Navigation ==-->

      <!--== Collect the nav links, forms, and other content for toggling ==-->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-left" data-in="fadeIn" data-out="fadeOut">
          <li class="dropdown megamenu-fw"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Home</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                 
                  <!--== end col-3 ==-->
                  
                  <!--== end col-3 ==-->
                 
                <!--== end row ==-->
              </li>
            </ul>
          </li>
          <li class="dropdown"> <a href="{% url 'studentlogin' %}" class="dropdown-toggle" data-toggle="dropdown">Student</a>
           
          </li>
        
          <li class="dropdown"> <a href="{% url 'teacherlogin' %}" class="dropdown-toggle" data-toggle="dropdown">Teacher</a>
            <ul class="dropdown-menu">
              
            
            </ul>
          </li>

          <li class="dropdown"> <a href="{% url 'adminlogin' %}" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
            
          </li>
        </ul> 
      </div>
      <!--== /.navbar-collapse ==-->
    </div>
  </nav>
  {% block head %}
  
  <!--== Header End ==-->

  <!--== Hero Slider Start ==-->
  <section class="remove-padding relative lg-screen white-bg">
    <div class="parallax-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 display-table lg-screen">
          <div class="v-align-middle text-center">
            <div class="white-color text-center">
              <h1 class="font-700 font-100px line-height-110 xs-font-40px xs-line-height-50 sm-font-60px sm-line-height-70 play-font">Build & Design</h1>
              <span class="font-40px font-300">A Business Consulting Agency</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <video autoplay="" muted="" loop="" controls="" class="html5-video">
      <source src="{% static 'assets/videos/explore.mp4' %}" type="video/mp4">
      <source src="{% static 'assets/videos/explore.webm' %}" type="video/webm">
    </video>
  </section>
  <!--== Hero Slider End ==-->

  <!--== About Company Start ==-->
  <section class="pt-0 pb-0 transition-none">
    <div class="container-fluid">
      <div class="row row-flex flex-center">
        <div class="col-md-6 col-sm-4 col-xs-12 relative xs-display-none sm-display-none">
          <div class="img-center" style="background-image: url({% static 'assets/images/bg-left-img-9.jpg' %});"></div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 dark-bg">
          <div class="center-layout text-center">
            <div class="v-align-middle white-color">
              <div class="col-inner spacer">
          				<i class="icon-circle-compass font-60px default-color"></i>
          				<h5 class="mt-40 font-30px white-color play-font">Web Design</h5>
          				<p class="white-color font-16px font-300">Duis aliquet ut enim nec pulvinar Nam ultrices massa sit amet ornare elementum erat lacus consectetur metus posuere.</p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 relative xs-display-none sm-display-none">
          <div class="front-color-overlay-bg"></div>
          <div class="img-center" style="background-image: url({% static 'assets/images/bg-right-img-9.jpg' %});"></div>
        </div>
      </div>

      <div class="row row-flex flex-center">
        <div class="col-md-3 col-sm-6 col-xs-12 default-bg">
          <div class="center-layout text-center">
            <div class="v-align-middle white-color">
              <div class="col-inner spacer">
          				<i class="icon-camera font-60px default-color"></i>
          				<h5 class="mt-40 font-30px white-color play-font">Digital Production</h5>
          				<p class="white-color font-16px font-300">Duis aliquet ut enim nec pulvinar Nam ultrices massa sit amet ornare elementum erat lacus consectetur metus posuere.</p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 relative xs-display-none sm-display-none">
          <div class="img-center" style="background-image: url({% static 'assets/images/bg-left-img-10.jpg' %});"></div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-12 secondary-bg">
          <div class="center-layout text-center">
            <div class="v-align-middle white-color">
              <div class="col-inner spacer">
          				<i class="icon-lightbulb font-60px default-color"></i>
          				<h5 class="mt-40 font-30px white-color play-font">Creative Ideas</h5>
          				<p class="white-color font-16px font-300">Duis aliquet ut enim nec pulvinar Nam ultrices massa sit amet ornare elementum erat lacus consectetur metus posuere.</p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-12 relative xs-display-none sm-display-none">
          <div class="img-center" style="background-image: url({% static 'assets/images/bg-left-img-11.jpg' %});"></div>
        </div>
      </div>

        <div class="row row-flex flex-center">
          <div class="col-md-4 col-sm-6 col-xs-12 relative xs-display-none sm-display-none">
            <div class="img-center" style="background-image: url({% static 'assets/images/team/team-17.jpg' %});"></div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 relative xs-display-none sm-display-none">
            <div class="img-center" style="background-image: url({% static 'assets/images/team/team-18.jpg' %});"></div>
          </div>


          <div class="col-md-4 col-sm-4 col-xs-12 dark-bg">
            <div class="center-layout text-center">
              <div class="v-align-middle white-color">
                <div class="col-inner spacer">
                  <h5 class="font-50px font-700 play-font">Meet The Team</h5>
                  <hr class="center_line white-bg">
                  <p class="white-color font-16px font-300 mt-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a urna vitae justo aliquam luctus.</p>
                  <p class="white-color font-16px font-300 mt-20">Duis aliquet ut enim nec pulvinar Nam ultrices massa sit amet ornare elementum erat lacus consectetur metus posuere.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row row-flex flex-center">
          <div class="col-md-6 col-sm-6 col-xs-12 map-section">
            <div id="map-style-3"></div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 relative secondary-bg">
            <div class="center-layout text-center">
              <div class="v-align-middle white-color">
                <div class="col-inner spacer">
                  <h5 class="font-50px font-700 play-font">Contact Us</h5>
                  <hr class="center_line white-bg">
                  <h3 class="font-300">Patton Street Caulfield<br> East VIC 3145</h3>
                  <h3 class="font-300">Tel:+61 (03) 9414 7288</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row row-flex flex-center">
          <div class="col-md-3 col-sm-4 col-xs-12 secondary-bg">
            <div class="center-layout text-center">
              <div class="v-align-middle white-color">
                <div class="col-inner spacer">
            				<h5><span class="counter font-700 font-80px">102</span></h5>
            				<h5 class="font-50px font-700 play-font">Workshops</h5>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12 relative">
            <div class="front-color-overlay-bg"></div>
            <div class="img-center" style="background-image: url({% static 'assets/images/bg-right-img-10.jpg' %});"></div>
          </div>
          <div class="col-md-6 col-sm-4 col-xs-12 relative">
            <div class="center-layout text-left">
              <div class="v-align-middle">
                <div class="col-inner spacer">
                  <h5 class="font-50px font-700 play-font">Start a Project</h5>
                  <hr class="left-line dark-bg">
                  <form name="contact-form" id="contact-form" action="php/contact.php" method="POST" class="contact-form-style-01 mt-30" novalidate="true">
                    <div class="messages"></div>
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label class="sr-only" for="name">Name</label>
                          <input type="text" name="name" class="md-input" id="name" placeholder="Name *" required data-error="Your Name is Required">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label class="sr-only" for="email">Email</label>
                          <input type="email" name="email" class="md-input" id="email" placeholder="Email *" required data-error="Please Enter Valid Email">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                        	<label class="sr-only" for="subject">Subject</label>
                        	<input type="text" name="subject" class="md-input" id="subject-2" placeholder="Subject">
                    	  </div>
                      </div>
                      <div class="col-md-12 col-sm-12">
                          <select name="orderby" class="orderby">
                            <option value="" selected="selected">$500 - $1000</option>
                            <option value="">$1000 - $2000</option>
                            <option value="">$2000 - $5000</option>
                          </select> <input type="hidden" name="paged" value="1">
                          <input type="hidden" name="min_price" value="20"><input type="hidden" name="max_price" value="290">
                      </div>
                      <div class="col-md-12 col-sm-12">
                        <div class="text-left mt-20">
                          <button type="submit" name="submit" class="btn btn-outline btn-md btn-square btn-animate remove-margin disabled"><span>Send Message <i class="ion-android-arrow-forward"></i></span></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </section>
  <!--== About Company End ==-->
  {% endblock %}
  <!--== Social Icons Start ==-->
  <section class="dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-10 col-xs-10 centerize-col text-center social-icons-style-02">
              <ul class="md-icon">
                <li><a class="fb" href="#."><i class="icofont icofont-social-facebook"></i></a></li>
                <li><a class="tw" href="#."><i class="icofont icofont-social-twitter"></i></a></li>
                <li><a class="be" href="#."><i class="icofont icofont-social-behance"></i></a></li>
                <li><a class="in" href="#."><i class="icofont icofont-social-linkedin"></i></a></li>
                <li><a class="yt" href="#."><i class="icofont icofont-social-youtube"></i></a></li>
              </ul>
            </div>
        </div>
    </div>
  </section>
  <!--== Social Icons End ==-->

  <!--== Go to Top  ==-->
  <a href="javascript:" id="return-to-top"><i class="icofont icofont-arrow-up"></i></a>
  <!--== Go to Top End ==-->

</div>
<!--== Wrapper End ==-->

<!--== Javascript Plugins ==-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJNGOwO2hJpJ9kz8e0UUPjZhEbgDJTTXE"></script>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/smoothscroll.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/master.js' %}"></script>

<!-- Revolution js Files -->
<script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/revolution.extension.actions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/revolution.extension.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/revolution.extension.kenburn.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/revolution.extension.migration.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/revolution.extension.parallax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/revolution.extension.video.min.js' %}"></script>
<!--== Javascript Plugins End ==-->

</body>
</html> 